/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .topic{
    display: inline-block;
    padding-right:7px;
    margin-right:7px;
    margin-bottom:7px;
    border-right:token(borderWidthThin) solid;
    line-height:1;
}

.THIS .topic a{
    font-weight:bold;
    text-transform: uppercase;
    color: token(colorTextLabel);
}

.THIS .topics .topic:last-child{
    border-right:0;
}

.THIS .controls{
    float:right;
}

.THIS  .slds-modal__container {
    min-width: 85%;
}

.THIS .createNewsBox {
    box-shadow: 0 0 5px #807d7d;
    border-radius: 5px;
    padding: 3% 3%;
}