<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 12">
<meta name=Originator content="Microsoft Word 12">
<link rel=File-List href="AboutUpdate2_files/filelist.xml">
<link rel=Edit-Time-Data href="AboutUpdate2_files/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Tim Fiorito</o:Author>
  <o:Template>Normal</o:Template>
  <o:LastAuthor>Tim Fiorito</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>6</o:TotalTime>
  <o:Created>2007-08-30T17:33:00Z</o:Created>
  <o:LastSaved>2007-08-30T17:33:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>628</o:Words>
  <o:Characters>3583</o:Characters>
  <o:Company>Toshiba</o:Company>
  <o:Lines>29</o:Lines>
  <o:Paragraphs>8</o:Paragraphs>
  <o:CharactersWithSpaces>4203</o:CharactersWithSpaces>
  <o:Version>12.00</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
<link rel=themeData href="AboutUpdate2_files/themedata.thmx">
<link rel=colorSchemeMapping href="AboutUpdate2_files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:DontVertAlignCellWithSp/>
   <w:DontBreakConstrainedForcedTables/>
   <w:DontVertAlignInTxbx/>
   <w:Word11KerningPairs/>
   <w:CachedColBalance/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="--"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="267">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-1610611985 1107304683 0 0 159 0;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-520082689 -1073717157 41 0 66047 0;}
@font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-1593833729 1073750107 16 0 415 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
a:link, span.MsoHyperlink
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	text-decoration:underline;
	text-underline:single;}
p
	{mso-style-priority:99;
	mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Balloon Text";
	mso-ansi-font-size:8.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Tahoma","sans-serif";
	mso-ascii-font-family:Tahoma;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Tahoma;
	mso-bidi-font-family:Tahoma;}
p.normal, li.normal, div.normal
	{mso-style-name:normal;
	mso-style-priority:99;
	mso-style-unhide:no;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:7.5pt;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	mso-pagination:widow-orphan;
	font-size:8.5pt;
	font-family:"Helvetica","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:Helvetica;
	color:black;}
span.hyperlink--char
	{mso-style-name:hyperlink--char;
	mso-style-unhide:no;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:10.0pt;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 @list l0
	{mso-list-id:789976192;
	mso-list-template-ids:1596760290;}
@list l1
	{mso-list-id:1252545606;
	mso-list-type:hybrid;
	mso-list-template-ids:660904694 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l1:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l1:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:1.25in;
	mso-level-number-position:left;
	margin-left:1.25in;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l2
	{mso-list-id:1593469707;
	mso-list-template-ids:-1407670416;}
@list l2:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:.25in;
	mso-level-number-position:left;
	margin-left:.25in;
	text-indent:-.25in;
	mso-ansi-font-size:10.0pt;
	font-family:Symbol;}
@list l3
	{mso-list-id:1764300251;
	mso-list-type:hybrid;
	mso-list-template-ids:1638066002 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l3:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l1:level1 lfo2
	{mso-level-start-at:0;}
@list l1:level2 lfo2
	{mso-level-start-at:0;}
@list l3:level1 lfo4
	{mso-level-start-at:0;}
@list l2:level1 lfo6
	{mso-level-start-at:0;}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="4098"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;mso-cellspacing:0in;mso-yfti-tbllook:1184;mso-padding-alt:
 0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:30.0pt'>
  <td width="100%" colspan=3 style='width:100.0%;background:#998C0D;padding:
  0in 0in 0in 0in;height:30.0pt'>
  <p class=MsoNormal><strong><span style='font-family:"Arial","sans-serif";
  mso-fareast-font-family:"Times New Roman";color:white'><span
  style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span>About Validar Lead
  Import<span style='mso-spacerun:yes'>&nbsp; </span></span></strong><span
  style='font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
  color:white'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes;height:539.1pt'>
  <td valign=top style='padding:0in 0in 0in 0in;height:539.1pt'>
  <p>&nbsp;</p>
  <div style='border:solid #027C6F 1.0pt;mso-border-alt:solid #027C6F .75pt;
  padding:0in 0in 0in 0in'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='mso-cellspacing:0in;background:#998C0D;mso-yfti-tbllook:1184;
   mso-padding-alt:0in 0in 0in 0in'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:6.0pt'>
    <td style='padding:0in 0in 0in 0in;height:6.0pt'></td>
   </tr>
   <tr style='mso-yfti-irow:1'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 0in 0in 7.5pt'>
    <p class=MsoNormal><strong><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>About Validar Lead Import for
    AppExchange</span></strong><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:6.0pt 6.0pt 6.0pt 15.0pt'>
    <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>
    <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-bidi-font-family:Arial'>Validar provides Lead Capture solutions to for
    both online and offline marketing touch-points, specifically tradeshows and
    events. Validar Lead Import, Validars second AppExchange release, improves
    the lead management process for every member of your organization;
    marketing, sales and your system administrator. Utilizing Lead Import,
    categorized and ranked leads can be mapped to the correct fields and
    distributed to the right sales people easily.<span
    style='mso-spacerun:yes'>&nbsp; </span>With it&#8217;s contact and lead
    matching, Validar Lead Import will notify you of potential duplicates when
    creating new leads.<span style='mso-spacerun:yes'>&nbsp;&nbsp; </span>This means
    your organization will spend more time selling and less time importing and
    managing leads.<span style='mso-spacerun:yes'>&nbsp;&nbsp; </span>Measure
    the effectiveness of your lead qualification process, and make adjustments
    to improve performance.<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:3'>
    <td width=2 style='width:1.5pt;background:#F2F2F2;mso-background-themecolor:
    background1;mso-background-themeshade:242;padding:0in 0in 0in 0in'></td>
   </tr>
   <tr style='mso-yfti-irow:4'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 0in 0in 7.5pt'>
    <p class=MsoNormal><b><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>Benefits:<o:p></o:p></span></b></p>
    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;mso-list:l1 level1 lfo2;
    tab-stops:list .5in'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol;mso-bidi-font-weight:bold'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Increase Close Rate </span></b><span style='font-size:9.0pt;
    font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'>Lead Import
    will distribute your highest ranked leads to the right sales people.<span
    style='mso-spacerun:yes'>&nbsp; </span>Your sales team will be taking
    action immediately on the best leads, </span><b><span style='font-size:
    9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></b></p>
    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:
    l1 level1 lfo2;tab-stops:list .5in'><![if !supportLists]><span
    style='font-size:9.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
    mso-bidi-font-family:Symbol;mso-bidi-font-weight:bold'><span
    style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Lower Cost per Qualified Lead </span></b><span style='font-size:
    9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'><span
    style='mso-spacerun:yes'>&nbsp;&nbsp;</span>-<span
    style='mso-spacerun:yes'>&nbsp; </span>Leads are ranked and qualified at
    the time of capture which ensures your sales organization is focused on the
    right lead</span><b><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></b></p>
    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;mso-list:l1 level1 lfo2;
    tab-stops:list .5in'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol;mso-bidi-font-weight:bold'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Enforce Data Quality<span style='mso-spacerun:yes'>&nbsp; </span></span></b><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'><span style='mso-spacerun:yes'>&nbsp;</span>With Validar Lead
    Import, leads and contacts are searched for matches prior to import. Our
    solution will also inform you of closest matches for more complex
    scenarios. Field level mapping ensures you&#8217;re not making updates to
    individual records after import. Our solution promotes data quality best
    practices.</span><b><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span></b></p>
    <p class=MsoNormal><b><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></b></p>
    <p class=MsoNormal><b><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>Features:<o:p></o:p></span></b></p>
    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;mso-list:l3 level1 lfo4'><![if !supportLists]><span
    style='font-size:9.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
    mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Dashboard<span style='mso-spacerun:yes'>&nbsp; </span>-<span
    style='mso-spacerun:yes'>&nbsp; </span></span></b><span style='font-size:
    9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'>Overview
    of the status of all your Lead imports<b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:
    l3 level1 lfo4'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>De-Duping<span style='mso-spacerun:yes'>&nbsp; </span>-<span
    style='mso-spacerun:yes'>&nbsp; </span></span></b><span style='font-size:
    9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'>Exact
    match and closest matching of Leads and Contacts<b style='mso-bidi-font-weight:
    normal'><o:p></o:p></b></span></p>
    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:
    l3 level1 lfo4'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Field Level Mapping - </span></b><span style='font-size:9.0pt;
    font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'>Map Validar
    Lead data to the specific field targets in Salesforce.com<o:p></o:p></span></p>
    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:
    l3 level1 lfo4'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Lead Creation - </span></b><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-bidi-font-family:Arial'>Create Leads and
    leverage your distribution rules<b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:
    l3 level1 lfo4'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Campaign Assignment - </span></b><span style='font-size:9.0pt;
    font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'>Track
    effectiveness by assigning the Validar Lead Source to a Campaign<o:p></o:p></span></p>
    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:
    l3 level1 lfo4'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Auto-Task Generation<span style='mso-spacerun:yes'>&nbsp; </span>- </span></b><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Create Activities or Tasks to start a new sales workflow<b
    style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;mso-list:l3 level1 lfo4'><![if !supportLists]><span
    style='font-size:9.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
    mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Data Cleansing - </span></b><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-bidi-font-family:Arial'>Filter out data which
    don&#8217;t meet your organizations quality standard<b style='mso-bidi-font-weight:
    normal'><o:p></o:p></b></span></p>
    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'><o:p>&nbsp;</o:p></span></b></p>
    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>Scan Once, Sell More <span
    style='mso-spacerun:yes'>&nbsp;</span>with Validar <o:p></o:p></span></b></p>
    <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-bidi-font-family:Arial'><o:p>&nbsp;</o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:5;height:2.1pt'>
    <td style='padding:6.0pt 6.0pt 6.0pt 15.0pt;height:2.1pt'></td>
   </tr>
   <tr style='mso-yfti-irow:6'>
    <td width=2 style='width:1.5pt;padding:0in 0in 0in 0in'></td>
   </tr>
   <tr style='mso-yfti-irow:7'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 0in 0in 7.5pt'>
    <p class=MsoNormal><b><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>Additional Help and Support:</span></b><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:8'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:6.0pt 6.0pt 6.0pt 15.0pt'>
    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
    auto;margin-left:.25in;text-indent:-.25in;mso-list:l2 level1 lfo6;
    tab-stops:list .25in'><![if !supportLists]><span style='font-size:10.0pt;
    mso-bidi-font-size:9.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
    mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-fareast-font-family:"Times New Roman"'>View the
    Lead Import for AppExchange presentation<o:p></o:p></span></p>
    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
    auto;margin-left:.25in;text-indent:-.25in;mso-list:l2 level1 lfo6;
    tab-stops:list .25in'><![if !supportLists]><span style='font-size:10.0pt;
    mso-bidi-font-size:9.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
    mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-fareast-font-family:"Times New Roman"'>View a
    Lead Import for AppExchange datasheet<o:p></o:p></span></p>
    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
    auto;margin-left:.25in;text-indent:-.25in;mso-list:l2 level1 lfo6;
    tab-stops:list .25in'><![if !supportLists]><span style='font-size:10.0pt;
    mso-bidi-font-size:9.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
    mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>&middot;<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span></span><![endif]><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-fareast-font-family:"Times New Roman"'>If you
    are experiencing technical problems; Visting </span><a
    href="http://support.validar.com"><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-fareast-font-family:"Times New Roman"'>http://support.validar.com</span></a><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'>, call Validar Support at 1-888-784-2929 x9 or email </span><a
    href="mailto:events@validar.com"><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif";mso-fareast-font-family:"Times New Roman"'>mailto:events@validar.com</span></a><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:9;height:6.0pt'>
    <td style='padding:0in 0in 0in 0in;height:6.0pt'></td>
   </tr>
   <tr style='mso-yfti-irow:10'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 0in 0in 7.5pt'>
    <p class=MsoNormal><strong><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>About Validar Inc</span></strong><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:11;mso-yfti-lastrow:yes'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:6.0pt 6.0pt 6.0pt 15.0pt'>
    <p class=normal style='line-height:normal'><span style='font-size:10.0pt;
    font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'>Validar is
    the leading provider of lead management software solutions. Validar&#8217;s
    Full Measure product suite is a best in class solution which leverages a
    customizable survey engine allowing marketers to categorize and rank leads
    from offline or online lead sources.<span
    style='mso-spacerun:yes'>&nbsp;&nbsp; </span>Formerly a venture-funded
    company, Validar Inc is now privately and majority owned by its employees.
    Validar&#8217;s customers include a growing list of </span><a
    href="http://www.validar.com"><span
    style='font-size:10.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial;color:windowtext'>Global 1000 companies</span></a><span
    style='font-size:10.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>. Additional news and information about the company is available at </span><a
    href="http://www.validar.com/"><span class=hyperlink--char><span
    style='font-size:10.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:
    Arial'>http://www.Validar.com/</span></span></a><span style='font-size:
    10.0pt;font-family:"Verdana","sans-serif";mso-bidi-font-family:Arial'><o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  </div>
  </td>
  <td style='padding:0in 0in 0in 0in;height:539.1pt'>
  <p class=MsoNormal><span style='mso-fareast-font-family:"Times New Roman"'>&nbsp;&nbsp;<o:p></o:p></span></p>
  </td>
  <td width=280 valign=top style='width:210.0pt;padding:0in 0in 0in 0in;
  height:539.1pt'>
  <p>&nbsp;</p>
  <div style='border:solid #027C6F 1.0pt;mso-border-alt:solid #027C6F .75pt;
  padding:0in 0in 0in 0in'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=280
   style='width:210.0pt;mso-cellspacing:0in;background:#998C0D;mso-yfti-tbllook:
   1184;mso-padding-alt:0in 0in 0in 0in'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:6.0pt'>
    <td style='padding:0in 0in 0in 0in;height:6.0pt'></td>
   </tr>
   <tr style='mso-yfti-irow:1'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 0in 0in 7.5pt'>
    <p class=MsoNormal><strong><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>Setup instructions</span></strong><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:6.0pt 6.0pt 6.0pt 15.0pt'>
    <p><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Thank
    you for installing Lead Import for AppExhange<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:3'>
    <td width=2 style='width:1.5pt;background:#F2F2F2;mso-background-themecolor:
    background1;mso-background-themeshade:242;padding:0in 0in 0in 0in'></td>
   </tr>
   <tr style='mso-yfti-irow:4'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 6.0pt 6.0pt 7.5pt'>
    <p class=MsoNormal><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
     coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
     filled="f" stroked="f">
     <v:stroke joinstyle="miter"/>
     <v:formulas>
      <v:f eqn="if lineDrawn pixelLineWidth 0"/>
      <v:f eqn="sum @0 1 0"/>
      <v:f eqn="sum 0 0 @1"/>
      <v:f eqn="prod @2 1 2"/>
      <v:f eqn="prod @3 21600 pixelWidth"/>
      <v:f eqn="prod @3 21600 pixelHeight"/>
      <v:f eqn="sum @0 0 1"/>
      <v:f eqn="prod @6 1 2"/>
      <v:f eqn="prod @7 21600 pixelWidth"/>
      <v:f eqn="sum @8 21600 0"/>
      <v:f eqn="prod @7 21600 pixelHeight"/>
      <v:f eqn="sum @10 21600 0"/>
     </v:formulas>
     <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
     <o:lock v:ext="edit" aspectratio="t"/>
    </v:shapetype><v:shape id="Picture_x0020_2" o:spid="_x0000_s1026" type="#_x0000_t75"
     alt="https://portal.validar.com/SFAppExchangeV1/poweredby_100.gif"
     style='position:absolute;margin-left:35pt;margin-top:0;width:75pt;
     height:80.25pt;z-index:1;visibility:visible;mso-wrap-style:square;
     mso-wrap-distance-left:3.75pt;mso-wrap-distance-top:3.75pt;
     mso-wrap-distance-right:3.75pt;mso-wrap-distance-bottom:3.75pt;
     mso-position-horizontal:right;mso-position-horizontal-relative:text;
     mso-position-vertical:absolute;mso-position-vertical-relative:line'
     o:allowoverlap="f">
     <v:imagedata src="https://portal.validar.com/SFAppExchangeV1/poweredby_100.gif"/>
     <w:wrap type="square" anchory="line"/>
    </v:shape><![endif]--><![if !vml]><img width=100 height=107
    src="https://portal.validar.com/SFAppExchangeV1/poweredby_100.gif"
    align=right hspace=5 vspace=5
    alt="https://portal.validar.com/SFAppExchangeV1/poweredby_100.gif" v:shapes="Picture_x0020_2"><![endif]><strong><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'>After the installation:</span></strong><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    <div>
    <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>After installation you will
    notice a new custom Tab which includes Validar Lead Import.<o:p></o:p></span></p>
    </div>
    <p><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>If you
    are not using a &#8220;Powered by Validar&#8221;solution at your next
    tradeshow or event then please contact us at </span><a
    href="http://www.validar.com/orders/" target="_blank"><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>http://www.validar.com/orders/</span></a><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif"'> or
    (888)784-2929 x8530.<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:5;height:6.0pt'>
    <td style='padding:0in 0in 0in 0in;height:6.0pt'></td>
   </tr>
   <tr style='mso-yfti-irow:6'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:3.75pt 0in 0in 7.5pt'>
    <p class=MsoNormal><strong><span style='font-size:9.0pt;font-family:"Verdana","sans-serif";
    mso-fareast-font-family:"Times New Roman"'>Step by Step instructions:</span></strong><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:7'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:6.0pt 6.0pt 6.0pt 15.0pt'>
    <p><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>If you
    are using a Powered By Validar Lead Capture Application, then please follow
    these steps:<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:8'>
    <td width=2 style='width:1.5pt;padding:0in 0in 0in 0in'></td>
   </tr>
   <tr style='mso-yfti-irow:9'>
    <td style='background:#F2F2F2;mso-background-themecolor:background1;
    mso-background-themeshade:242;padding:6.0pt 6.0pt 6.0pt 15.0pt'>
    <p><strong><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Steps
    to Import Leads: </span></strong><span style='font-size:9.0pt;font-family:
    "Verdana","sans-serif"'><o:p></o:p></span></p>
    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
    auto;margin-left:.5in;text-indent:-.25in;mso-list:l0 level1 lfo8;
    tab-stops:list .5in'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:"Verdana","sans-serif";mso-fareast-font-family:Verdana;
    mso-bidi-font-family:Verdana'><span style='mso-list:Ignore'>1.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'>Click on the Validar Lead Import tab and insert your Validar
    user name and password.<span style='mso-spacerun:yes'>&nbsp; </span>If you
    don&#8217;t have a username please contact Validar Support<o:p></o:p></span></p>
    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
    auto;margin-left:.5in;text-indent:-.25in;mso-list:l0 level1 lfo8;
    tab-stops:list .5in'><![if !supportLists]><span style='font-size:9.0pt;
    font-family:"Verdana","sans-serif";mso-fareast-font-family:Verdana;
    mso-bidi-font-family:Verdana'><span style='mso-list:Ignore'>2.<span
    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
    style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
    "Times New Roman"'>Identify your Lead Source, and click on the
    &quot;Start&#8221; button to start the Lead Import Wizard.&nbsp; If no
    leads are present to upload, then upload your leads from your Lead Capture
    device and try again.<span style='mso-spacerun:yes'>&nbsp; </span>If no
    Leads are present then contact Validar Support<o:p></o:p></span></p>
     </td>
   </tr>
   <tr style='mso-yfti-irow:10'>
    <td width=2 style='width:1.5pt;padding:0in 0in 0in 0in'></td>
   </tr>
   <tr style='mso-yfti-irow:11'>
    <td style='padding:3.75pt 0in 0in 7.5pt'></td>
   </tr>
   <tr style='mso-yfti-irow:12;mso-yfti-lastrow:yes;height:1.0pt'>
    <td style='padding:6.0pt 6.0pt 6.0pt 15.0pt;height:1.0pt'></td>
   </tr>
  </table>
  </div>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>