/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS.customCalendarView > .fc-toolbar .fc-left{
  float:right!important;
  
}
.THIS.customCalendarView > .fc-toolbar .fc-right{
  float:left!important;
}
.THIS.setButtonGrid{
  float: right!important;
  margin-top: 17px;

}