.THIS .image-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.THIS .image-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.THIS .description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.THIS article[data-hasborder='true']{
    border:1px solid;
    border-radius: 0.25rem;
    padding:20px;
    height:100%;
}