/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .fontHeader{
    font-size: 36px!important;
    text-align: center!important;
    line-height: 60px;
}
.THIS .expCss{
    text-align:center!important;
    font-size: 12px!important;
}