/* Copyright ©2016-2017 7Summits Inc. All rights reserved. */
.THIS .featuredImage{
    overflow:hidden;
    margin:0 0 40px 0;
}

.THIS .featuredImage .image{
    /*height:400px;*/
    width:100%;
    background-size:contain;
    background-position:center center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.THIS .featuredImage .image{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.THIS .featuredImage[data-size=Half] .image{
    height:200px;
}

.THIS .featuredImage[data-size=None]{
    display:none;
}